:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-1: #4a3931;
  --color-2: #7e5d50;
  --color-3: #9d755c;
  --color-4: #94807a;
  --color-5: #d7d0cd;
  
  --bg-primary: #eeee;
  --bg-secondary: #ffffff;
  --bg-tertiary: var(--color-2);
  --text-primary: var(--color-1);
  --text-secondary: #6c757d;
  --text-light: #ffffff;
  --accent-color: var(--color-4);
  --highlight-color: var(--color-5);
  --card-front: var(--color-1);
  --card-back: var(--color-2);
  --border-color: var(--color-2);
  /* --shadow-color: rgba(0, 0, 0, 0.15); */
  --shadow-color: var(--color-1);
  --success-color: var(--color-2);
  --warning-color: var(--color-4);
  --danger-color: #dc3545;
}

a {
  font-weight: 500;
  color: var(--card-front);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-1);
  margin-bottom: 1.5rem;
}

h2,
h3 {
  color: var(--color-2);
  margin-bottom: 1rem;
}

p {
  color: var(--text-secondary);
}

footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
